@using Microsoft.AspNetCore.Mvc.Localization
@using BankManagement.Localization
@inject IHtmlLocalizer<BankManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
